.searchPlantContainer {
  display: flex;
  flex-direction: column;
  width: 78%;
  height: 68vh;
  background-image: linear-gradient(#ddd3a6, #bcda3a 100%);
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 4em;
}

.searchPlantInfo h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #174e43;
}

.searchPlantInfo p {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.searchPlantForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchPlantForm label {
  font-size: 1rem;
  padding: 0 0.3em;
  font-weight: 600;
}

input#plant {
  width: 20em;
  max-width: 90%;
  border: 5px solid #174e43;
  margin-bottom: 1em;
}

.searchPlantButton {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  padding: 0.4em;
  width: 10em;
  border-radius: 1.2em;
  border: 3px solid #174e47;
  background-image: linear-gradient(#327d11, #174e47);
  box-shadow: dimgray 0.2em 0.2em 0.6em;
  transition-delay: 0.2s ease-in;
}

.searchPlantButton:hover {
  color: #174e43;
  border: 3px solid #174e43;
  background-image: linear-gradient(#aac727, #d4b427);
  box-shadow: dimgray 0.2em 0.2em 0.6em;
}

@media screen and (max-width: 425px) {
  .searchPlantContainer {
    height: 72vh;
    margin-bottom: 2em;
  }
  .searchPlantInfo h1 {
    font-size: 2rem;
  }

  .searchPlantInfo p {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }

  input#plant {
    width: 20em;
    border: 3px solid #174e43;
  }
}
