.about-us {
  display: flex;
  flex-direction: row;
}

.two-rows {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 2em;
}

.column-pic {
  display: flex;
  max-width: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
}
