.aboutUs {
  display: flex;
  flex-direction: row;
}

.twoRows1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 2em;
}

.columnPic1 {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.columnPic1 img {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .aboutUs {
    display: flex;
    flex-direction: column;
  }

  .twoRows1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1em;
  }

  .columnPic1 {
    display: flex;
    width: 100%;
  }
}
