.navBar_container {
  display: flex;
  max-width: 100%;
  align-items: center;
  height: 11vh;
  background-color: #327d11;
}

.navBar_logoh {
  width: 10%;
}

.navBarLogo {
  height: 5vh;
  padding-left: 3em;
}

.navBar_links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

nav ul li {
  display: inline-flex;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #e7ecef;
  text-transform: uppercase;
}

nav ul li a:active {
  font-weight: 700;
  color: brown;
}

@media screen and (max-width: 700px) {
  .navBar_container {
    height: 9vh;
  }

  .navBar_logoh {
    width: 30%;
  }

  .navBarLogo {
    height: 6vh;
    padding-left: 2em;
  }

  nav ul li a {
    font-weight: 400;
    font-size: 1rem;
  }

  nav ul li a:active {
    font-weight: 600;
  }
}

@media screen and (max-width: 425px) {
  .navBar_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 27vh;
  }

  .navBarLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .navBar_links {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  nav ul li {
    display: flex;
    padding: 0.3em;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
  }

  nav ul li a {
    font-weight: 400;
    font-size: 1rem;
  }

  nav ul li a:active {
    font-weight: 600;
  }
}
