.navBar_container {
  display: flex;
  max-width: 100%;
  align-items: center;
  height: 11vh;
  background-color: #327d11;
}

.navBar_logoh {
  width: 30%;
}

.navBarLogo {
  height: 8vh;
  padding-left: 3em;
}

.navBar_links {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

nav ul li {
  display: inline-flex;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #e7ecef;
  text-transform: uppercase;
}

nav ul li a:active {
  font-weight: 700;
  color: brown;
}
