nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  background-color: #327d11;
}

nav ul li {
  display: inline-block;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #e7ecef;
  text-transform: capitalize;
}

nav ul li a:active {
  font-weight: 700;
  color: brown;
}
