.cardContainer {
  display: flex;
  flex-direction: column;
  height: 25em;
  width: 25em;
  border: 5px solid #174e47;
  background-image: linear-gradient(to top, #aac727 0%, #ffffff);
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  padding: 1em;
  margin: 2em;
  box-shadow: dimgray 0.2em 0.2em 0.6em;
}

img.cardImg {
  max-height: 50%;
  overflow: hidden;
  padding-bottom: 1em;
}

.cardAddress {
  padding-top: 1em;
  padding-bottom: 2em;
}

.cardDate,
.cardTime {
  text-transform: uppercase;
}

.cardBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardPrice {
  width: 2.5em;
  padding: 0.1em;
  font-size: 1.5rem;
  color: #174e47;
  border: 4px solid #174e47;
  background-color: #e4e2b2;
  text-align: center;
}

.cardButton {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  padding: 0.4em;
  width: 10em;
  border-radius: 1.2em;
  border: 3px solid #174e47;
  background-image: linear-gradient(#327d11, #174e47);
  box-shadow: dimgray 0.2em 0.2em 0.6em;
  transition-delay: 0.2s ease-in;
}

.cardButton:hover {
  color: #174e43;
  border: 3px solid #174e43;
  background-image: linear-gradient(#aac727, #d4b427);
  box-shadow: dimgray 0.2em 0.2em 0.6em;
}
