.mainFooter {
  width: 100%;
  background-color: white;
  border-top: 1px solid #b5b5b5;
  margin-top: 3em;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 11vh;
  padding: 0 8em;
}

.row1 {
  display: flex;
  width: 80%;
  color: #707070;
}

.row2 {
  display: flex;
  width: 20%;
}

@media screen and (max-width: 900px) {
  .footerContainer {
    padding: 0 6em;
  }

  .row1 {
    width: 60%;
  }

  .row2 {
    width: 40%;
  }
}

@media screen and (max-width: 425px) {
  .footerContainer {
    padding: 0;
  }

  .row1 {
    width: 50%;
  }

  .row2 {
    width: 30%;
  }
}
