.mainContainer2 {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 2em;
}

.whatwedo {
  display: flex;
  flex-direction: row;
}

.twoRows2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 2em;
}

.greenImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.greenImage img {
  display: flex;
  max-width: 100%;
  padding-bottom: 3em;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.eventButton {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4em;
  color: white;
  padding: 0.6em;
  width: 70%;
  border-radius: 2.6em;
  border: 3px solid #174e47;
  background-image: linear-gradient(#327d11, #174e47);
  box-shadow: dimgray 0.2em 0.2em 0.6em;
  transition-delay: 0.2s ease-in;
}

.eventButton:hover {
  color: #327d11;
  border: 3px solid #aac700;
  background-image: linear-gradient(#aac727, #d4b427);
  box-shadow: dimgray 0.2em 0.2em 0.6em;
}

@media screen and (max-width: 900px) {
  .mainContainer2 {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .eventButton {
    font-size: 0.9rem;
    line-height: 1.4em;
    padding: 0.8em;
    border-radius: 2.6em;
  }

  .greenImage img {
    padding-bottom: 2em;
  }
}

@media screen and (max-width: 700px) {
  .mainContainer2 {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .eventButton {
    font-size: 0.8rem;
    line-height: 1.2em;
    padding: 0.6em;
    border-radius: 2.6em;
  }

  .greenImage img {
    padding-bottom: 1em;
  }
}

@media screen and (max-width: 425px) {
  .mainContainer2 {
    padding-top: 0;
    padding-bottom: 3em;
  }

  .whatwedo {
    display: flex;
    flex-direction: column;
  }
  .twoRows2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
  }

  .eventButton {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1em;
    padding: 0.3em;
    width: 80%;
    border-radius: 2em;
    border: 3px solid #174e47;
  }

  .greenImage img {
    padding-bottom: 0;
  }
}
