.socialContainer {
  padding: 1em 1em;
}

button.social {
  display: inline-flex;
  margin: 0 0.5em;
  font-size: 1.2em;
  color: #707070;
  background-color: white;
  border: none;
  transform: transform 200ms;
  cursor: pointer;
  outline: none;
}

button.social:hover {
  transform: translateY(2px);
}
