.social-container {
  background-color: #707070;
  padding: 1em 1em;
}

a.social {
  display: inline-flex;
  margin: 0 1em;
  transform: transform 200ms;
}

a.social:hover {
  transform: translateY(2px);
}

.facebook,
.instagram,
.twitter {
  color: #707070;
}
