.Signupbutton {
  margin-top: 1em;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4em;
  color: white;
  padding: 0.6em;
  width: 6em;
  border-radius: 2.6em;
  border: 3px solid #174e47;
  background-image: linear-gradient(#327d11, #174e47);
  box-shadow: dimgray 0.2em 0.2em 0.6em;
  transition-delay: 0.2s ease-in;
  text-transform: uppercase;
}

.Signupbutton:hover {
  color: #327d11;
  border: 3px solid #aac700;
  background-image: linear-gradient(#aac727, #d4b427);
  box-shadow: dimgray 0.2em 0.2em 0.6em;
}
