.wrapper {
  display: flex;
  flex-direction: column;
  width: 78%;
  height: 55vh;
  justify-content: center;
  align-items: center;
  border: 8px solid #5f3e2f;
  margin: 0 auto;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-title {
  font-family: "Open Sans";
  background-color: #5f3e2f;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.form-descr {
  padding: 1em 0;
  text-align: center;
}

.fullName {
  display: flex;
  flex-direction: row;
  width: 95%;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: 400;
  text-align: left;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 5px solid #5f3e2f;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #b5b5b5;
}

.inputError {
  border: 5px solid red;
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.firstName,
.lastName,
.email {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.firstName,
.lastName {
  width: 49%;
}

.email {
  width: 95%;
  text-align: center;
}

.signUp {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUp button {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4em;
  color: white;
  width: 30%;
  border-radius: 2.6em;
  border: 3px solid #174e47;
  background-image: linear-gradient(#327d11, #174e47);
  box-shadow: dimgray 0.2em 0.2em 0.6em;
  transition-delay: 0.2s ease-in;
}

.signUp button:hover {
  color: #327d11;
  border: 3px solid #aac700;
  background-image: linear-gradient(#aac727, #d4b427);
  box-shadow: dimgray 0.2em 0.2em 0.6em;
}

.errorMessage {
  color: red;
  font-size: 0.6rem;
}

@media screen and (max-width: 750px) {
  .wrapper {
    width: 78%;
    height: 44vh;
  }
  .form-title {
    font-weight: 600;
    font-size: 1.4rem;
  }

  .form-descr {
    padding: 0.8em 0;
  }

  label {
    font-size: 0.6em;
    margin-bottom: 0.2em;
  }

  input {
    padding: 5px 5px;
    border-radius: 4px;
    outline: none;
    border: 4px solid #5f3e2f;
  }

  input::placeholder {
    font-size: 1em;
  }

  .inputError {
    border: 4px solid red;
  }

  .firstName,
  .lastName,
  .email {
    margin-bottom: 0.8em;
  }

  .firstName,
  .lastName {
    width: 49%;
  }

  .signUp button {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2em;
  }
}

@media screen and (max-width: 425px) {
  .wrapper {
    width: 78%;
    height: 50vh;
  }
  .form-title {
    font-weight: 600;
    font-size: 1.2rem;
  }

  .form-descr {
    padding: 0.6em 0;
  }

  .fullName {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  label {
    font-size: 0.6em;
    margin-bottom: 0.2em;
  }

  input {
    padding: 5px 5px;
    border-radius: 4px;
    outline: none;
    border: 4px solid #5f3e2f;
  }

  input::placeholder {
    font-size: 1em;
  }

  .inputError {
    border: 4px solid red;
  }

  .firstName,
  .lastName {
    margin: 0 auto;
  }

  .firstName,
  .lastName,
  .email {
    margin-bottom: 0.8em;
  }

  .firstName,
  .lastName {
    width: 95%;
  }

  .signUp button {
    width: 70%;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2em;
  }
}
