* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 2em;
}

h2 {
  font-family: "Delius";
  font-size: 1.6rem;
  color: #327d11;
  padding-bottom: 1em;
  text-transform: uppercase;
  text-decoration: underline;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  width: 92%;
}

.bold-text {
  font-size: 1.4rem;
  font-weight: 600;
  color: #327d11;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 900px) {
  h2 {
    font-family: "Delius";
    font-size: 1.2rem;

    padding-bottom: 0.8em;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    line-height: 1.2em;
  }

  .bold-text {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
