Input {
  padding: 0.3em;
  margin: 0.2em;
  border: 2px solid #5f3e2f;
  background-color: white;
  box-shadow: dimgray 0.2em 0.2em 0.6em;
  transition-delay: 0.2s ease-in;
}

input[placeholder] {
  color: #b5b5b5;
}
