.shopping-cart {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 8vh;
  background-color: #327d11;
  align-items: center;
  justify-content: center;
}

.shopping-cart span {
  width: 25%;
  font-size: 1.3rem;
  color: white;
  font-weight: 400;
  padding: 0 2.5em;
  border: 2px solid white;
}

.shopping-cart button {
  background-color: #5f3e2f;
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
  padding: 0.5em 1em;
  border: 2px solid #5f3e2f;
  text-transform: uppercase;
  height: 8vh;
  cursor: pointer;
  transition-delay: 0.2s;
}

.shopping-cart button:hover {
  background-color: #aac700;
  color: #174343;
  border: 2px solid #174343;
  height: 8vh;
}
